<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="tem-style.css" />
    <script
      src="https://kit.fontawesome.com/af7225dbf1.js"
      crossorigin="anonymous"
    ></script>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="grid.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="row">
      <section id="header">
        <div class="title-of-head">
          <a href="../index.html">
            <i class="fa fa-arrow-left back-arrow"></i>
          </a>
          <h1>Settings</h1>
        </div>
      </section>
      <section id="settings-items">
        <div class="your-profile">
          <div class="profile">
            <img src="../images/5.jpg" alt="" />
          </div>
          <div class="about-page">
            <div class="title-date">
              <div class="title-pv"><h3>Jason</h3></div>
            </div>
            <div class="last-message">I just miss having a reason to...</div>
            <i class="fa fa-qrcode"></i>
          </div>
        </div>
        <div class="items-of-set">
          <div class="icone-item">
            <i class="fa fa-key"></i>
          </div>
          <div class="about-item">
            <div class="item-dic">
              <div class="title-item"><h3>Account</h3></div>
            </div>
            <div class="discription">privacy, security, change number</div>
          </div>
        </div>
        <div class="items-of-set">
          <div class="icone-item">
            <i class="fa fa-comment"></i>
          </div>
          <div class="about-item">
            <div class="item-dic">
              <div class="title-item"><h3>Chats</h3></div>
            </div>
            <div class="discription">Theme, wallpaper, chat history</div>
          </div>
        </div>
        <div class="items-of-set">
          <div class="icone-item">
            <i class="fa fa-bell"></i>
          </div>
          <div class="about-item">
            <div class="item-dic">
              <div class="title-item"><h3>Notifications</h3></div>
            </div>
            <div class="discription">Message, group & call tones</div>
          </div>
        </div>
        <div class="items-of-set">
          <div class="icone-item">
            <i class="fa fa-chart-pie"></i>
          </div>
          <div class="about-item">
            <div class="item-dic">
              <div class="title-item"><h3>Storage and data</h3></div>
            </div>
            <div class="discription">Network usage, auto-download</div>
          </div>
        </div>
        <div class="items-of-set">
          <div class="icone-item">
            <i class="fa-regular fa-circle-question"></i>
          </div>
          <div class="about-item">
            <div class="item-dic">
              <div class="title-item"><h3>Help</h3></div>
            </div>
            <div class="discription">
              Help center. contact us,privacy policy
            </div>
          </div>
        </div>
        <div class="items-of-set">
          <div class="icone-item">
            <i class="fa fa-user-group"></i>
          </div>
          <div class="about-item">
            <div class="item-dic"></div>
            <div class="title-item"><h3>Invite a friend</h3></div>
          </div>
        </div>
        <div class="from">
          <span>from</span>
          <span class="brand">Meta</span>
        </div>
      </section>
    </div>
  </body>
</html>
