<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="tem-style.css" />
    <link rel="stylesheet" href="../style.css" />
    <script
      src="https://kit.fontawesome.com/af7225dbf1.js"
      crossorigin="anonymous"
    ></script>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="row">
      <section id="header">
        <div class="title-head">
          <div class="title">
            <h1>WhatsApp</h1>
          </div>
          <div class="option">
            <button class="fa fa-search search-btn">
              <div class="search-box">
                <i class="fa fa-arrow-left"></i
                ><input
                  class="search-inp"
                  type="search"
                  name=""
                  id=""
                  placeholder="search..."
                />
              </div>
            </button>
            <button class="fa fa-ellipsis-v dp-button">
              <ul class="dp-menu">
                <li class="menu-item"><a href="">Status privacy</a></li>
                <li class="menu-item"><a href="sitting.html">Settings</a></li>
              </ul>
            </button>
          </div>
        </div>
        <nav>
          <ul class="nav-items">
            <li class="nav-link">
              <a href=""><i class="fa fa-camera"></i></a>
            </li>
            <li class="nav-link"><a href="../index.html">CHATS</a></li>
            <li class="nav-link active"><a href="status.html">STATUS</a></li>
            <li class="nav-link"><a href="calls.html">CALLS</a></li>
          </ul>
        </nav>
      </section>
      <section id="chats">
        <div class="pv">
          <div class="profile">
            <img src="../images/5.jpg" alt="" />
            <i class="fas fa-plus"></i>
          </div>
          <div class="about-page">
            <div class="title-date">
              <div class="title-pv"><h3>My statuse</h3></div>
            </div>
            <div class="last-message">Tab to add status update</div>
          </div>
        </div>
      </section>
      <div class="bottom-option">
        <div class="add-people">
          <a href="">
            <i class="fa-solid fa-heart-crack"></i>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
